{% extends "base.html" %}

{% block title %} {% endblock %}

{% block body %}

  <h2 class="form-signin-heading">Add Collaborators, {{ username }}</h2>
  <p>
   
  </p>
  <div class = "row">
    <div class = "col-md-6">
      <ul id = "collaborators">
    
      </ul>
    </div>
  </div>
  
  <div class = "row" style = "padding-bottom: 20px;">
    <div class = "col-md-4" >
      <input type = "text" id = "bnumber" name = "bnumber" placeholder="B00..." value = "B00">
    </div>
    <div class = "col-md-3 col-md-offset-1">
      <button type = "button"
            class = "btn btn-lg btn-warning btn-block" 
            onClick = "lookup();">
            Look Up Collaborator
          </button>
    </div>
  </div>
  <div class = "row">
    <form id = "theform" action = "/{{tag}}/{{next}}" method = "POST">
        <div class = "col-md-2 col-md-offset-6">
          <button type = "submit"
                  class = "btn btn-lg btn-success btn-block">
                  Continue
          </button>
        </div>
      <input id = "fieldcount" name = "fieldcount" type = "hidden" value = "">
    </form>
  </div>



<script type="text/javascript">
  var fieldcount = 0;
  
  var handleResult = function (json) {
    console.log(json);

    if (json['firstname'].length > 0) {
      li = $("<li></li>");
      li.html([json['firstname'], json['lastname'] ].join(" "));
      $("#collaborators").append(li);
      
      input = $("<input type = 'hidden' name = 'username" + fieldcount + "' value = '" + json['username'] + "'>");
      $("#theform").append(input);
      fieldcount += 1;
      $("#fieldcount").val(fieldcount);
      
    }
  };
  
  var lookup = function () {
    Retrieve.fromURL (["/{{tag}}/_/bybnumber/", $("#bnumber").val()].join(''), handleResult);
  };

  var update = function (json) {
    for (var key in json) {
      if (json.hasOwnProperty(key)) {
        console.log ("Adding in faculty member: " + key);
        // Use this to populate things.
        for (var key in json) {
          handleResult(json[key]);
        }

      }
    }
  };

  Retrieve.fromURL ("/{{tag}}/_/getprojectfaculty/{{username}}", update);

</script>

  <!-- <button class="btn btn-lg btn-success btn-block" type="submit">Submit Request</button> -->
  {% endblock %}
