{% extends "base.html" %}

{% block title %} {% endblock %}

{% block body %}
    <div class="container">

      <form class="form-signin" >
        <div class = "text-center">
          <h2 class="form-signin-heading">Scan with Google Authenticator</h2>
          <p>QR Code for <b>{{data['email']}}</b></p>
          <img src = "/s/qr/{{data['img-fname']}}">
          <p>After scanning, go ahead and log in.</p> 
        </div>
      </form>

      <div class = "form-signin">
        <button onclick = "location.href='/signin';" 
                class="btn btn-lg btn-warning btn-block">Log In</button>  
      </div>
      
    </div> <!-- /container -->

{% endblock %}