{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/s/css/login.css">
{% endblock %}

{% block title %} {% endblock %}

{% block body %}
<form class="form-signin" action="/{{tag}}/{{username}}/{{next}}" method = "POST">
  <h2 class="form-signin-heading">Create a New Project</h2>
  <p>
    Every URCPP project must have a corresponding faculty member who will
    handle all correspondance and communications regarding the project.
  </p>

  <div style = "margin-bottom: 10px;">
    <h3>Project Title</h3>
    <label class="sr-only">Project Title</label>
    <input  id = "title"
            name = "title"
            class="form-control"
            placeholder="My Amazing Research"
            required autofocus>
    <hr>
    <h3>Corresponding Faculty Member</h3>
    <label class="sr-only">Faculty Last Name</label>
    <input  id = "lastname"
            name = "lastname"
            class="form-control"
            placeholder="Faculty Last Name"
            required autofocus>

    <label class="sr-only">Faculty First Name</label>
    <input  id = "firstname"
            name = "firstname"
            class="form-control"
            placeholder="Faculty First Name"
            required autofocus>

    <label class="sr-only">Faculty Email</label>
    <input  id = "email"
            name = "email"
            class="form-control"
            placeholder="faculty@berea.edu"
            required autofocus>

    <label class="sr-only">Faculty B#</label>
    <input  id = "bnumber"
            name = "bnumber"
            class="form-control"
            placeholder="B00..."
            required autofocus>

    <input type = "hidden" name = "validate" value = "{{validate}}"></input>
  </div>

  <button class="btn btn-lg btn-success btn-block" type="submit">Submit Request</button>
</form>

<script>
var populate = function (endpoint) {
  $.getJSON("/{{tag}}/_/" + endpoint + "/{{username}}", {})
            .done (
              function (json) {
                 // console.log("DONE: " + json);
                for (var key in json) {
                  if (json.hasOwnProperty(key)) {
                    $("#" + key).val(json[key])
                  }
                }
              })
            .fail (
              function (jqxhr, textStatus, error) {
                console.log ( jqxhr.responseText);
                var err = textStatus + ", " + error;
                console.log( "Request Failed: " + err );
              });
}

populate("getcorresponding");
populate("getproject");
</script>
{% endblock %}
