{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/s/css/login.css">
{% endblock %}

{% block title %} {% endblock %}

{% block body %}
<form class="form-signin" action="/{{tag}}/{{username}}/{{next}}" method = "POST">
  <h2 class="form-signin-heading">Create a New Project</h2>
  <p>
    Every URCPP project must have a corresponding faculty member who will
    handle all correspondance and communications regarding the project.
  </p>

  <div style = "margin-bottom: 10px;">
    <h3>Project Title</h3>
    <label class="sr-only">Project Title</label>
    <input  name = "projectitle" 
            class="form-control" 
            placeholder="My Amazing Research"
            {% if project and project.title %}
            value = "{{project['title']}}"
            {% endif %}
            required autofocus>
    <hr>
    <h3>Corresponding Faculty Member</h3>
    <label class="sr-only">Faculty Last Name</label>
    <input  name = "lastname" 
            class="form-control" 
            placeholder="Faculty Last Name"
            {% if faculty and faculty.lastname %}
            value = "{{faculty['lastname']}}"
            {% endif %}
            required autofocus>

    <label class="sr-only">Faculty First Name</label>
    <input  name = "firstname" 
            class="form-control" 
            placeholder="Faculty First Name" 
            {% if faculty and faculty.firstname %}
            value = "{{faculty['firstname']}}"
            {% endif %}
            required autofocus>

    <label class="sr-only">Faculty Email</label>
    <input  name = "email" 
            class="form-control" 
            placeholder="faculty@berea.edu" 
            {% if faculty and faculty.email %}
            value = "{{faculty['email']}}"
            {% endif %}
            required autofocus>

    <label class="sr-only">Faculty B#</label>
    <input  name = "bnumber" 
            class="form-control" 
            placeholder="B00..." 
            {% if faculty and faculty.bnumber %}
            value = "{{faculty['bnumber']}}"
            {% endif %}
            required autofocus>

    <input type = "hidden" name = "validate" value = "{{validate}}"></input>
  </div>

  <button class="btn btn-lg btn-success btn-block" type="submit">Submit Request</button>
</form>
{% endblock %}
