body {
   padding-bottom: 90px;
}
.footer {
  position: absolute;
  left: 0;
  background-color:  #ecf0f1;
  color:#1e2433;
  text-align: center;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  padding-top: 12px;
  height: 85px;
  line-height:30px; /* Vertically center the text there */
  z-index: 50 !important;
}
 a {
color: #18bc9c;
}
