.btn-grey {
  color: #000000;
  background-color: #aaa4a4;
  border-color: #aaa4a4; 
}

.btn-grey:focus,
.btn-grey.focus {
  color: #000000;
  background-color: #aaa4a4;
  border-color: #000000;
}

.btn-grey:hover {
  color: #000000;
  background-color: #aaa4a4;
  border-color: #aaa4a4; 
}  

.btn-grey:active,
.btn-grey.active,
.open > .dropdown-toggle.btn-grey {
  color: #ffffff;
  background-color: #aaa4a4;
  border-color: #aaa4a4;
}
.btn-grey:active:hover,
.btn-grey.active:hover,
.open > .dropdown-toggle.btn-grey:hover,
.btn-grey:active:focus,
.btn-grey.active:focus,
.open > .dropdown-toggle.btn-grey:focus,
.btn-grey:active.focus,
.btn-grey.active.focus,
.open > .dropdown-toggle.btn-grey.focus {
  color: #ffffff;
  background-color: #aaa4a4;
  border-color: #000000;
}
.btn-grey:active,
.btn-grey.active,
.open > .dropdown-toggle.btn-grey {
  background-image: none;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #000000;

.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled.focus,
.btn-grey[disabled].focus,
fieldset[disabled] .btn-grey.focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #aaa4a4;
  border-color: #aaa4a4;
}

.btn-grey.badge {
  color: #000000;
  background-color: #aaa4a4;
}