.panel-body {
  margin: 50px;
}

.btn-default {
  text-transform: uppercase;
  font-weight: bold;
}

.squares {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.boxes {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 790px;
  height: 180px;
  font-family: "Open Sans", sans-serif;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #FFF;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 40px 0 65px rgba(212, 197, 186, 0.4);
  padding: 0 80px;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.project-progress-bar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.bar {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #E8DFD8;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}
.bar__fill {
  display: block;
  background: #2c3e50;
  height: 100%;
}

.point {
  position: relative;
  color: #AC9585;
}
.point:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  
}

.point.point--active:before{
  background: rgba(0, 0, 0, 0.1);
}

.point--complete, .point--active {
  color: #2c3e50;
}

.bullet {
  z-index: 1;
  position: relative;
  background: #AC9585;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.point--complete .bullet, .point--active .bullet {
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 6px #2c3e50;
}
.point--active .bullet {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 10px #2c3e50;
}

.bar-label {
  font-size: 1.5rem;
  position: absolute;
  max-width: inherit;
  max-height: inherit;
  top: 100%;
  left: 50%;
  margin: 20px 0 0 0;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.radius-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  background: #FFF;
  border: 0;
  border-radius: 4px;
  box-shadow: 40px 0 65px rgba(212, 197, 186, 0.4);
  padding: 10px;
  color: #BA7C3F;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
