.footer {
  position: absolute;
  left: 0pt;
  background-color:  #ecf0f1;
  color:#1e2433;
  text-align: center;
  bottom: 0pt;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
 a {
color: #51638c;
}
